@font-face {
  font-family: HelveticaNeueCyr;
  src: url(./fonts/HelveticaNeueCyr-Roman.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: HelveticaNeueCyr, Arial, Helvetica, sans-serif;
}

svg {
  display: block;
  max-width: 100%;
}

.ease-in-out-animation {
  animation-duration: 1500ms;
  animation-delay: 100ms;
  animation-timing-function: cubic-bezier(0.45, 1.45, 0.8, 1);
  animation-fill-mode: forwards;
}

.content {
  max-width: 730px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.logo {
  margin: 80px auto 45px;
}

.main.animated {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-top: 50px;
  margin-bottom: 46px;
  justify-content: center;
}

.background-block {
  position: relative;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateX(-78%)
  }

  to {
    transform: translateX(0px)
  }
}

.blob {
  position: relative;
}

.plants {
  position: absolute;
  top: 22%;
  left: 2%;
  animation-name: plants;
}

@keyframes plants {
  from {
    transform: translate(-102%);
  }

  to {
    transform: translate(0%);
  }
}

.sign-block {
  z-index: 6;
  position: absolute;
  top: 46%;
  left: 26%;
  width: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  animation-name: signblock;
}

@keyframes signblock {
  from {
    transform: translate(-125%);
  }

  to {
    transform: translate(0);
  }
}

.sign {
  position: relative;
}

.footer-text {
  margin: 9px auto 94px auto;
  font-size: 24px;
}

.text-block {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: -45px;
}

.text-lower {
  margin-top: 38px;
}

.device-block {
  position: absolute;
  z-index: 1;
  top: 37%;
  animation-name: deviceblock;
  max-width: 98%;
}

@keyframes deviceblock {
  from {
    transform: translate(88%);
  }

  to {
    transform: translate(0%);
  }
}


.device {
  position: relative;
}

.cone {
  position: absolute;
  bottom: 0;
  left: 10%;
  animation-name: cone;
}

@keyframes cone {
  from {
    transform: translate(-53%);
  }

  to {
    transform: translate(0%);
  }
}

.shade-block {
  position: absolute;
  z-index: 5;
  top: 24%;
  max-width: 80%;
}

.shade {
  animation-name: shade;
}

@keyframes shade {
  from {
    transform: translateY(-149%);
  }

  to {
    transform: translate(0%);
  }
}

.lamp {
  position: absolute;
  top: -43%;
  left: 39.5%;
  animation-name: lamp;
}

@keyframes lamp {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}
