@font-face {
  font-family: HelveticaNeueCyr;
  src: url(./fonts/HelveticaNeueCyr-Roman.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: HelveticaNeueCyr, Arial, Helvetica, sans-serif;
}

svg {
  display: block;
  max-width: 100%;
  height: 100%;
}

.ease-in-out-animation {
  animation-duration: 1500ms;
  animation-delay: 100ms;
  animation-timing-function: cubic-bezier(0.45, 1.45, 0.8, 1);
  animation-fill-mode: forwards;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  margin: 80px auto 100px;
}

.main.animated {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 100px;
  justify-content: center;
  overflow: hidden;
}

.background-block {
  position: relative;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateX(-78%)
  }

  to {
    transform: translateX(0px)
  }
}

.blob {
  position: relative;
}

.plants {
  position: absolute;
  top: 22%;
  left: 2%;
  max-width: 95%;
  animation-name: plants;
}

@keyframes plants {
  from {
    transform: translate(-102%);
  }

  to {
    transform: translate(0%);
  }
}

.sign-block {
  z-index: 6;
  position: absolute;
  top: 46%;
  left: 26%;
  width: 233px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  animation-name: signblock;
}

@keyframes signblock {
  from {
    transform: translate(-125%);
  }

  to {
    transform: translate(0);
  }
}

.sign {
  max-width: 160px ;
}

.text-block {
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: -28px;
}

.text-lower {
  margin-top: 25px;
}

.device-block {
  position: absolute;
  z-index: 1;
  top: 37%;
  animation-name: deviceblock;
  max-width: 99.5%;
}

@keyframes deviceblock {
  from {
    transform: translate(88%);
  }

  to {
    transform: translate(0%);
  }
}

.device {
  position: relative;
}

.cone {
  max-width: 17%;
  position: absolute;
  bottom: 0;
  left: 10%;
  animation-name: cone;
}

@keyframes cone {
  from {
    transform: translate(-53%);
  }

  to {
    transform: translate(0%);
  }
}

.shade-block {
  position: absolute;
  z-index: 5;
  top: 24%;
  max-width: 81%;
}

.shade {
  animation-name: shade;
}

@keyframes shade {
  from {
    transform: translateY(-149%);
  }

  to {
    transform: translate(0%);
  }
}

.lamp {
  position: absolute;
  top: -43%;
  left: 39.5%;
  max-width: 21%;
  animation-name: lamp;
}

@keyframes lamp {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}

.footer-text {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}

@media screen and (max-width: 729px) {
  .logo {
    margin: 80px auto 77px;
  }

  .content {
    max-width: 331px;
  }
  
  .plants {
    top: 25%;
  }
  
  .text-block {
    font-size: 12.5px;
    top: 55px;
  }
  
  .text-lower {
    margin-top: 13px;
    white-space: nowrap;
    word-wrap: normal;
  }
  
  .device-block {
    top: 40.1%;
  }
  
  .cone {
    width: 55px;
  }
  
  .shade-block {
    top: 27%;
  }  

  .sign-block {
    max-width: 154px;
    top: 50%;
  }
  
  .sign {
    width: 105px;
    height: 78px;
  }

  .footer-text {
    font-size: 18px;
    line-height: 24px;
    padding: 0 10%;
  }
}
